html, body {
	margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
}

body {
	background: #111;

	background-image: url('img/bkg-cropped.jpg');

    background-repeat: repeat;
    background-size: cover;
    background-position: center top;
}

.andre-col {
	padding-bottom: 20px;
}

#video-container {
	padding-top: 100vh;
	padding-bottom: 100px;
}

.video-card {
	padding: 20px;
	background-color:rgba(255,255,255,0.3);
}